@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

[contenteditable="true"]:empty:before {
  content: attr(data-text);
  color: rgb(128, 128, 128);
  padding: 4px 0;
  outline: none;
}

[contenteditable="true"]:focus-visible {
  outline: none;
}

.content-header[contenteditable="true"]:empty:before {
  content: attr(data-text);
  font-size: 36px;
  color: rgb(128, 128, 128);
  padding: 4px 0;
}
